* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-ai {
    position: relative;
}

h2 {
    font-size: 75px;
    line-height: 85px;
    color: white;
    font-weight: 700;
    width: 630px;
}

span {
    color: #D65353;
}

.background-video {
    position: absolute;
    z-index: -1;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.ai-content {
    padding: 0 5%;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.text-section {
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    margin-bottom: 142px;
    /* margin-left: 130px; */
}

.logo-section {
    display: flex;
    flex-direction: column;
    margin-top: 220px;
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: 100vh;
    }

    h2 {
        font-size: 50px;
        line-height: 40px;
        width: auto;
    }

    .text-section {
        align-items: center;
        justify-content: center;
        line-height: 40px;
        margin-left: auto;
        margin-top: 100px;
        margin-bottom: 40px;
    }

    h2 span {
        line-height: 50px;
    }

    .ai-content {
        flex-direction: column;
    }

    .logo-section {
        display: flex;
        flex-direction: column;
        max-height: 260px;
        width: 260px;
        margin: auto;
        margin-bottom: 80px;
    }
}