body{
    margin-top: 0px;
    margin-bottom: 0px;
}
h3{
    font-weight: 700;
    color: black;
    font-size: 32px;
}
.container{
    margin-top: 5%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contents{
    flex-direction: column;
    justify-content: center;
}
.bio-section{
    padding-top: 30px;
    min-width: auto;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 900px;
    text-align: center;
}
